In [6]:
import numpy as np
import pandas as pd

In [8]:
movies_df = pd.read_csv('../datasets/imdb_movies.csv')
movies_df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [9]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10178 entries, 0 to 10177
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       10178 non-null  object
 1   date_x      10178 non-null  object
 2   score       10178 non-null  float64
 3   genre       10093 non-null  object
 4   overview    10178 non-null  object
 5   crew        10122 non-null  object
 6   orig_title  10178 non-null  object
 7   status      10178 non-null  object
 8   orig_lang   10178 non-null  object
 9   budget_x    10178 non-null  float64
 10  revenue     10178 non-null  float64
 11  country     10178 non-null  object
dtypes: float64(3), object(9)
memory usage: 954.3+ KB

In [10]:
movies_df = movies_df.dropna(how='any')

In [11]:
def make_genresList(x):
    genres = []
    for item in x.split(","):
        item = item.strip()
        if item=='Science Fiction':
            item = 'Sci-Fi'
        genres.append(item)
    
    if genres == []:
        return np.NaN
    return " ". join(genres)        

movies_df['genres'] = movies_df['genre'].map(lambda x: make_genresList(x))

In [12]:
def get_actor_names(x):
    actors = []
    for item in x.split(",")[:3]:
        item = item.strip()
        actors.append(item)
    
    if actors == []:
        return np.NaN
    return " ". join(actors)        

movies_df['actors'] = movies_df['crew'].map(lambda x: get_actor_names(x))

In [13]:
movies_df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,genres,actors
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU,Drama Action,Michael B. Jordan Adonis Creed Tessa Thompson
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU,Sci-Fi Adventure Action,Sam Worthington Jake Sully Zoe Saldaña
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU,Animation Adventure Family Fantasy Comedy,Chris Pratt Mario (voice) Anya Taylor-Joy
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU,Animation Comedy Family Adventure Fantasy,Óscar Barberán Thut (voice) Ana Esther Alborg
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US,Action,Skeet Ulrich Roy Cameron Anne Heche

In [14]:
movies_df.drop_duplicates(subset ="names", keep = 'last', inplace = True)

In [15]:
movies_df['content'] = movies_df['names'] + " " + movies_df['genres'] + " " + movies_df['overview'] + " " + movies_df['actors']

In [18]:
movies_df['title'] = movies_df['names'].str.lower()

In [20]:
movies_dataset = movies_df.loc[:, ['title','score','content']]
movies_dataset.head()

,title,score,content
0,creed iii,73.0,Creed III Drama Action After dominating the bo...
1,avatar: the way of water,78.0,Avatar: The Way of Water Sci-Fi Adventure Acti...
2,the super mario bros. movie,76.0,The Super Mario Bros. Movie Animation Adventur...
3,mummies,70.0,Mummies Animation Comedy Family Adventure Fant...
4,supercell,61.0,Supercell Action Good-hearted teenager William...

In [22]:
movies_dataset.to_csv('../datasets/movies.csv',index=False)